@charset "utf-8";

/*=========================== 0. 스타일 공통속성 ===========================*/

.mx-auto {
    margin: 0 auto;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-center {
    text-align: center; /*텍스트 가로 가운데로 정렬*/
}

.mx-10 {
    margin: 10px;
}

.mx-10a {
    margin-left: 10px;
    margin-right: 10px;
}

.text-bold {
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.font-22 {
    font-size: 22px;
}

/*=========================== 1. 스타일 초기화 ===========================*/


* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
    height: 110px;
    display: block;
}

.nav {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.bg_nav {
    background-color: #005891;
}

/* Love~Hate 순서를 따라야 제대로 적용된다 */

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover { 
    color: #fcff00;
    text-decoration: none;
}

a:active {
    color: white;
}

.cf {
    width: 800px;
    height: 500px;
    display: block;
}

.movie-title {
    font-size: 22px;
}

.movie-text {
    color: #555555
}

.movie-poster {
    width: 600px;
    height: 300px;
    font-size: 0;
}

